//GWLandscape colours

// Greys
$gray-500: #BFBEBE;

$blue: #0D378D;

// Primary Blues
$blue-100: #F6F8FE; 
$blue-500: $blue;
$blue-900: #08235A;

$white: #FBFCFD;
$black: #051638;

// Accents
$accent-orange: #F2B705;
$accent-red: #F2561D;

// Primary Blue

$body-color: $black;
$body-bg: $white;

$primary: $blue-900;
$link-color: $blue;


$input-placeholder-color: $gray-500;
