//GWLandscape colours

// Greys
$gray-500: #bfbebe;

$blue: #0d378d;

// Primary Blues
$blue-100: #f6f8fe;
$blue-500: $blue;
$blue-900: #08235a;

$white: #fbfcfd;
$black: #051638;

// Accents
$accent-orange: #f2b705;
$accent-red: #f2561d;

// Primary Blue

$body-color: $black;
$body-bg: $white;

$primary: $blue-900;
$link-color: $blue;

$input-placeholder-color: $gray-500;
