// Tabs
.nav-link[role="tab"] {
  color: $blue-900;
  margin: 0.5rem 0;
  border: 3px solid $primary;
  font-weight: bold;
  text-transform: uppercase;

  p {
    margin: 0;
  }

  &.active {
    color: $blue-100;
    background-color: $primary;
  }

  &:hover:not(.active) {
    color: $blue-100;
    background-color: $primary;
  }

  &:focus {
    outline: none;
  }
}
