.edit-button {
    background: none;
    border: none;
    padding: none;

    &:hover,
    &:focus {
        color: #0592eb;
        outline: none;
    }
}

.save-button {
    background: none;
    border: none;
    padding: none;
    color: green;

    &:hover,
    &:focus {
        outline: none;
    }
}

.cancel-button {
    background: none;
    border: none;
    padding: none;
    color: red;

    &:hover,
    &:focus {
        outline: none;
    }
}

.hidden {
    display: none;
}

svg {
    overflow: visible;
}

.exponent-tick {
    tspan {
        font-size: 0.7rem;
    }
    fill: #666;
}

.dots::after {
    content: '';
    display: inline-block;
    width: 3ch;
    text-align: left;
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
    100% {
        content: '';
    }
}
