{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "transform-class-properties",
    "relay",
    ["@babel/transform-runtime", {
      "regenerator": true
    }]
  ]
}