django
graphene-django
graphene-file-upload
pip-tools
django-filter
django-cors-headers
python-jwt
requests
django4-jenkins
pep8
pyflakes
flake8
coverage<5
redis
celery
pyhumps
h5py
matplotlib
pyjwt
black
python-decouple
git+https://gitlab.com/CAS-eResearch/internal/adacs-sso-plugin.git@v0.3.2
