django
graphene-django
graphene-file-upload
pip-tools
django-filter
django-cors-headers
django-graphql-jwt
python-jwt
requests
django4-jenkins
pep8
pyflakes
flake8
coverage<5
redis
celery
pyhumps
h5py
matplotlib
pyjwt
black
